In [53]:
# First load the sql extension into the environment
%load_ext sql
# connect to the sqlite database
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [ ]:
# import pandas and csv
import csv
import pandas as pd

In [ ]:
# load the table
with open('/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
      crops_grown_in_uganda = pd.read_csv(f, index_col=0, encoding='utf-8')
# store the values in the table
%sql PERSIST crops_grown_in_uganda;

 * sqlite://

'Persisted crops_grown_in_uganda'

In [ ]:
%%sql
SELECT * FROM crops_grown_in_uganda LIMIT 3;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001)]

In [ ]:
# Display a list of Sub Counties and their population and areas.
%%sql
SELECT "SUBCOUNTY_NAME", "POP" , "Area" FROM crops_grown_in_uganda LIMIT 3;

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401)]

In [ ]:
# Sort the list of districts by total crop area (descending order).
%%sql
SELECT * FROM crops_grown_in_uganda
ORDER BY Area ASC LIMIT 3;

 * sqlite://
Done.

[(929, 'SOUTHERN DIVISION', 'MOROTO', 3272, 2121209, 'Y', 114.7955689, 0.0, 0.17139046100000002, 0.17139046100000002, 0.0, 19.67486547, 0.0),
 (928, 'NORTHERN DIVISION', 'MOROTO', 7161, 2738777, 'Y', 131.9776979, 241.53842680000002, 0.322315707, 0.130940756, 0.19137495100000002, 17.28125956, 46.22440465),
 (979, 'NAKAPIRIPIRIT TOWN COUNCIL', 'NAKAPIRIPIRIT', 1418, 4673094, 'Y', 482.4387931, 1257.802716, 29.14576036, 1.3399191590000001, 27.79576662, 646.428982, 34961.59076)]

In [ ]:
# Select only the Sub counties from the Moroto district, 
# order them alphabetically and show their production of sorghum
%%sql
SELECT SUBCOUNTY_NAME FROM crops_grown_in_uganda
WHERE DISTRICT_NAME = "MOROTO" 
ORDER BY SUBCOUNTY_NAME ASC LIMIT 3;

 * sqlite://
Done.

[('KATIKEKILE',), ('NADUNGET',), ('NORTHERN DIVISION',)]

In [ ]:
# Compute the total Maize production per District.
%%sql
SELECT  DISTRICT_NAME, M_Prod_Tot FROM crops_grown_in_uganda LIMIT 3;

 * sqlite://
Done.

[('KOTIDO', 600723.8929),
 ('KOTIDO', 959201.3825),
 ('KOTIDO', 9991.488268000001)]

In [ ]:
# Compute the number of Sub counties 
# where Maize is produced and the total Maize production per District.
%%sql
SELECT SUBCOUNTY_NAME, COUNT(SUBCOUNTY_NAME), DISTRICT_NAME,  M_Yield_Ha 
FROM crops_grown_in_uganda WHERE M_Yield_Ha IS NOT NULL
GROUP BY DISTRICT_NAME
;

 * sqlite://
Done.

[('NYAKWAE', 6, 'ABIM', 779.2250311),
 ('AMUDAT TOWN COUNCIL', 4, 'AMUDAT', 861.2084912),
 ('SIDOK', 14, 'KAABONG', 1396.9914939999999),
 ('RENGEN', 6, 'KOTIDO', 1047.180128),
 ('RUPA', 6, 'MOROTO', 699.3343089),
 ('MORUITA', 8, 'NAKAPIRIPIRIT', 1248.955812),
 ('LOKOPO', 8, 'NAPAK', 748.8298623)]

In [ ]:
%%sql
SELECT * FROM crops_grown_in_uganda LIMIT 3;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001)]

In [ ]:
# Compute the overall Crop area in all Sub counties
# where population is over 20000.
%%sql 
SELECT SUBCOUNTY_NAME, POP, Crop_Area_Ha FROM crops_grown_in_uganda
WHERE POP > 20000 LIMIT 5;

 * sqlite://
Done.

[('KOTIDO', 52771, 13587.990759999999),
 ('KOTIDO TOWN COUNCIL', 27389, 1656.5318550000002),
 ('NAKAPERIMORU', 38775, 7087.823334000001),
 ('PANYANGARA', 65704, 10398.24939),
 ('RENGEN', 41273, 13278.52043)]

In [66]:
# Sort the Maize production in descending order by Districts,
# only taking into account Sub counties where Maize area is larger than Sorghum
# area, and display the number of Sub counties per district matching that criteria.
# Dataset Description
%%sql
SELECT SUBCOUNTY_NAME, COUNT(SUBCOUNTY_NAME), DISTRICT_NAME FROM crops_grown_in_uganda
WHERE M_Area_Ha > S_Area_Ha
GROUP BY DISTRICT_NAME
ORDER BY DISTRICT_NAME DESC;

 * sqlite://
Done.

[('NAPAK TOWN COUNCIL', 2, 'NAPAK'),
 ('MORUITA', 3, 'NAKAPIRIPIRIT'),
 ('NORTHERN DIVISION', 3, 'MOROTO'),
 ('NAPORE (KARENGA)', 3, 'KAABONG'),
 ('AMUDAT', 1, 'AMUDAT')]

In [ ]:
%%sql 
SELECT * FROM crops_grown_in_uganda  LIMIT 2;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929, None),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825, None)]